{% load static %}
{% load i18n %}


<footer id="footer" class="footer dark-background" style="background-image: url({% static "assets/img/pages/Other.jpg" %});">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="{% url "index" %}" class="logo d-flex align-items-center">
            <span class="sitename">DOUALAIR</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Bona*****</p>
            <p>Douala, DL 00237</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+237 623 254 856</span></p>
            <p><strong>Email:</strong> <span>support@doualair.org</span></p>
          </div>
          <div class="social-links d-flex mt-3">
            <a href="https://www.facebook.com/share/LH46iNud8chfaWzM/?mibextid=LQQJ4d"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/doualair_?igsh=MXVnMzBxeTE1Z2Y0aw%3D%3D&utm_source=qr"><i class="bi bi-instagram"></i></a>
            <a href="https://www.tiktok.com/@doualair?_t=8qQe7M5uvIs&_r=1"><i class="bi bi-tiktok"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4 class="text-white">{% trans "Liens utiles" %}</h4>
          <ul>
            <li><a href="{% url 'index' %}">{% trans "Accueil" %}</a></li>
            <li><a href="{% url 'about_us' %}">{% trans "A propos" %}</a></li>
            <li><a href="{% url 'services' %}">{% trans "Nos services" %}</a></li>
            <li><a href="{% url 'article_list' %}">{% trans "Press & Actualité" %}</a></li>
            <li><a href="{% url 'jobs' %}">{% trans "Carrière" %}</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <span class="h5 text-white">{% trans "Nous rejoindre" %}</span>
              <p class="text-muted font-small mt-2">{% trans "Rejoins notre liste de mails" %}
              </p>
              <a href="{% url 'contact_us' %}" class="btn btn-tertiary me-3 animate-up-2">{% trans "Nous contacter"%}<span class="ms-2"><span class="fas fa-arrow-right"></span></span></a>
              <p class="text-muted font-small m-0">{% trans "Nous ne partagerons jamais vos informations. Lisez notre " %}<a class="text-white"
                      href="#">Privacy Policy</a></p>

        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">DOUALAIR</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        
        Designed by <a href="#">Phens</a>
      </div>
    </div>

  </footer>x