{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load cache %}

{% block content %}


<main class="main">
    {% include 'includes/pre-loader.html' %}

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url({% static "assets/img/pages/Services.jpg" %});">
        <div class="container position-relative">
          <div class="row justify-content-between align-items-center">
            <div class="col-12 text-center text-white">

                <h1 class="fw-bolder display-2">{{service.Nom}}</h1>
  
            </div>
          </div>
        </div>
        
      </div><!-- End Page Title -->

      
  <section class="section section-lg">
    <div class="container">
      <div class="row justify-content-between align-items-center mb-5 mb-lg-7">
        <div class="col-12 col-lg-5 mb-5 mb-lg-0 order-lg-2">
          <h2 class="h1">{{service.Nom}}</h2>
          <p class="mb-4 lead fw-italic">{{service.date_publiee}}</p>
          <p class="mb-4">{{service.Description}}</p>
          {% if request.user.is_superuser %}
          <div class="row">
            <div class="col-12 ">
              <button class="btn rounded" type="button">
                <a href="{% url "update_service" service.pk %}" class="btn btn-outline-primary"> {% trans "Modifier" %} </a>
              </button>
              <button class="btn rounded" type="button">
                <form action="{% url 'delete_service' service.pk %}" method="post">
                  {% csrf_token %}
                  <input type="submit" value=" {% trans "Supprimer" %} " class="btn btn-outline-danger">
                </form>
              </button>
              <button class="btn rounded" type="button">
                <a href="{% url "services" %}" class="btn btn-outline-primary">{% trans "Liste des services" %}</a>
              </button>
            </div>       
          </div>
          {% endif %}
        </div>
        <div class="col-12 col-lg-6 order-lg-1">
          <img src="{{service.Image.url}}" alt="Front pages overview">
        </div>
      </div>
    </div>
  </section>

</main>


{% endblock content %}