{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load cache %}

{% block content %}

{% include 'includes/pre-loader.html' %}

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url({% static "assets/img/pages/Opportunités.jpg" %});">
        <div class="container position-relative">
          <div class="row justify-content-between align-items-center">
            <div class="col-12 text-center text-white">
  
                <h1 class="fw-bolder display-2">{% trans "Liste des candidatures"%}</h1>

  
            </div>
          </div>
        </div>
        
    </div><!-- End Page Title -->


    <!--End of Title section-->
<div class="section section-md">
    <div class="container">
        <div class="row mb-5">
            {% if candidats %}
            {% for candidat in candidats  %}
            
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card shadow">
                    <!-- Header -->
                    <div class="card-header bg-white p-3 text-center">
                        <span class="d-block">
                            <h1 class="display-3 text-dark fw-bold">
                                {{ candidat.Nom}}
                            </h1>
                            <h2 class="d-block text-gray font-large">{{candidat.Prenom}}</h2>
                        </span>
                    </div>
                    <!-- End Header -->
                    <!-- Content -->
                    <div class="card-body">
                        <ul class="list-unstyled mb-4">
                            <li class="list-item pb-3">Lieu de résidence : <strong>{{candidat.House}}</strong></li>
                            <li class="list-item pb-3">Contact : <strong>{{candidat.Phone_number}}</strong></li>
                            <li class="list-item pb-3">Email : <strong>{{candidat.Email}}</strong></li>
                            <li class="list-item pb-3">Profession : <strong>{{candidat.Profession}}</strong></li>
                            <li class="list-item pb-3">Date de candidature : <strong>{{candidat.date_publiee}}</strong></li>
                        </ul>
                        {% if request.user.is_superuser %}
                            <div class="row">
                                <!--
                              <button class="btn rounded" type="button">
                                <a href="{% url "candidat_update" candidat.pk %}" class="btn btn-outline-primary"> {% trans "Modifier" %} </a>
                              </button>
                              -->
                              <button class="btn rounded" type="button">
                                <form action="{% url 'candidat_delete' candidat.pk %}" method="post">
                                  {% csrf_token %}
                                  <input type="submit" value=" {% trans "Supprimer" %} " class="btn btn-outline-danger">
                                </form>
                              </button>
                            </div>
                            {% endif %}                        
                    </div>
                    <!-- End Content -->
                </div>
            </div>
            {% endfor %}
            {% else %}
              <p>{% trans "Aucune candidature pour l'instant" %}</p>
            {% endif %}
            
        </div>
    </div>
</div>


{% endblock content %}